doctype html
html
    include head
        body
            block header
                .navbar.navbar-default.navbar-static-top(role='navigation')
                    .container
                        .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/main')
                            img(src='/images/sqwrl-logo.png')
                        .collapse.navbar-collapse
                            block operations
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href='/logout') Logout
                            block welcome
                                ul.nav.navbar-nav.navbar-right
                                    li
                                        a Welcome, Guest
                            block details
            block content
            block footer
                    - var getYear = function () {
                    -   return new Date().getFullYear();
                    - }

                .navbar-fixed-bottom
                    .container
                        .navbar-fixed-bottom-left
                            span &copy; #{getYear()} sqwrl, LLC
                        .navbar-fixed-bottom-center
                            span Data Shopper &trade;
            block extraScripts