
.verticalLine {
    border-left: thick solid #ff0000;
}

.navbar {
    margin-bottom: 10px !important;
}

.navbar-brand > img {
    height: 48px;
    margin-top: -13px;
}

.navbar-fixed-bottom {
    background-color: #424242;
    color: #EEEEEE;
}

.navbar-fixed-bottom-left {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    float: left;
}

.navbar-fixed-bottom-center {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    float: right;
}

#strSearch {
    width: 500px;
    display: inline;
}

.indexDropDown {
    width: 150px;
}

.sidebar {
    background-color: #FFFFFF !important;
    border-right: 1px solid #eee;
}

.selIndex {
    width: 140px;
}

.selType {
    width: 140px;
}

.selField {
    width: 140px;
}

.selOptions {
    width: 75px;
}

.caret {
    margin-left: -15px !important;
    margin-right: 5px !important;
    color:white !important;
}

#optionsCaret.caret {
    margin-left: -15px !important;
    margin-right: 5px !important;
    color: black !important;
}

#export {
    margin-left: 10px;
}

#content {
    padding-top: 50px;
}

.dropdown-menu {
    z-index: 3000;
}

.tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    font: 400 12px/12px Arial;
    border-radius: 3px;
    background: #fff;
    top: -43px;
    padding: 5px;
    left: -9px;
    text-align: center;
    width: 50px;
}
.tooltip strong {
    display: block;
    padding: 2px;
}

.noUi-horizontal {
    top: 10px;
    left: 17px;
    width: 185px;
    margin-bottom: 60px;
}

.noUi-connect {
    background: #FFA500 !important;
}

.noUi-handle {
    background: #424242 !important;
}

#filterBox {
    position:fixed;
    margin-top: -20px;
    margin-left: -20px;
    width: 225px;
    background-color: #ffffff;
    z-index: 5000;
}

#facetFilter {
    width: 190px;
}

#removeFilter {
    border:0;
    padding: 12px 0 5px 7px;
    z-index: 5001;
    width: 30px;
    height: 20px;
}

#eye {
    width: 20px;
    height: 20px;
    position: fixed;
    margin-top: -15px;
}

#eye.openeye {
    background: url(../images/glyphicons-52-eye-open.png) no-repeat center center;
    background-size: contain;
}

#eye.closeeye {
    background: url(../images/glyphicons-53-eye-close.png) no-repeat center center;
    background-size: contain;
}

.facetlabel {
    padding-left: 10px;
    font-weight: 400;
}

.facetinput {
    width: 65px;
}

.facetdateinput {
    width: 160px;
    display: block;
    margin-left: 55px;
    margin-top: -23px;
}

.checkbox, .checkbox+.checkbox, .radio+.radio {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
}

.moreOrLessLabel {
    padding-left:175px !important;
    color:#337ab7 !important;
}

.moreOrLessCheckbox {
    visibility: collapse !important;
}

.collapsed {
    display: none;
}

.noUi-pips {
    font: 400 11px Arial;
}

#numberOfColumns {
    width: 40px;
}

tbody tr:nth-child(2n) td {
    background-color: #FFFFFF;
}

tbody tr:nth-child(2n+1) td {
    background-color: #e7e7e7;
}

tbody tr:hover td {
    background-color:#add8e6 !important;
}

.btnSubTable {
    width: 100% !important;
    background-color: transparent !important;
    border-style: none !important;
    color: #337ab7 !important;
    text-decoration: underline !important;
}

#popSubTable {
    display: table;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    opacity: 0.90;
    position: absolute;
    overflow: auto;
    border: 1px #000000 solid;
    border-radius: 10px;
    z-index: 6000;
}

#popSubTable table {
    padding: 8px;
    display: table;
}

#popSubTable th {
    padding-left: 4px;
    padding-right: 10px;
}

#popSubTable td {
    padding: 2px 4px;
    word-wrap: break-word;
    overflow: hidden;
}

#popSubTable .closemsg {
    display: block;
    margin: auto;
    height: 0;
    overflow: visible;
    text-align: right;
    z-index: 6002;
    cursor: default;
}

.closemsg::after {
    content: "\00D7";
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 6003;
    color: #ffffff;
    border: 1px #ffffff solid;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    margin: 0;
    background-color: #f0ad4e;
    font-weight: bold;
    cursor: pointer;
}