
.verticalLine {
    border-left: thick solid #ff0000;
}

.navbar {
    margin-bottom: 10px !important;
}

.navbar-brand > img {
    height: 48px;
    margin-top: -13px;
}

.navbar-fixed-bottom {
    background-color: #424242;
    color: #EEEEEE;
}

.navbar-fixed-bottom-left {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    float: left;
}

.navbar-fixed-bottom-center {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    float: right;
}

#strSearch {
    width: 500px;
    display: inline;
}

.indexDropDown {
    width: 150px;
}

.sidebar {
    background-color: #FFFFFF !important;
    border-right: 1px solid #eee;
}

.selIndex {
    width: 140px;
}

.selType {
    width: 140px;
}

.selField {
    width: 140px;
}

.caret {
    margin-left: -15px !important;
    margin-right: 5px !important;
    color:white !important;
}

#export {
    margin-left: 10px;
}

#content {
    padding-top: 50px;
}

#indexNameMenu.dropdown-menu {
    left: 10px !important;
    z-index: 2000;
}

#indexTypeMenu.dropdown-menu {
    left: 148px !important;
    z-index: 2000;
}

#indexFieldMenu.dropdown-menu {
    left: 285px !important;
    z-index: 2000;
}