
.verticalLine {
    border-left: thick solid #ff0000;
}

/*.primaryButtonStyle {*/
    /*background: -moz-linear-gradient(center top , #4387FD, #4683EA) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*border: medium none;*/
    /*border-bottom-left-radius: 0;*/
    /*border-top-left-radius: 0;*/
    /*box-shadow: none;*/
    /*height: 30px;*/
    /*outline: medium none;*/
    /*padding: 0;*/
    /*width: 60px;*/
/*}*/

.navbar {
    margin-bottom: 10px !important;
}

.navbar-brand > img {
    height: 48px;
    margin-top: -13px;
}

.navbar-fixed-bottom {
    background-color: #424242;
    color: #EEEEEE;
}

.navbar-fixed-bottom-left {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    float: left;
}

.navbar-fixed-bottom-center {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    float: right;
}

#strSearch {
    width: 500px;
    display: inline;
}

.indexDropDown {
    width: 150px;
}

.sidebar {
    background-color: #FFFFFF !important;
    border-right: 1px solid #eee;
}

.dataTables_wrapper {
    margin: 10px;
    border-spacing: 0;
    width: 100%;
}

th, td {
    white-space: nowrap;
}

.table > tbody > tr > td {
    padding: 4px;
}

.table {
    margin-top: 20px;
}

.selIndex {
    width: 140px;
}

.selType {
    width: 140px;
}

.selField {
    width: 140px;
}

.caret {
    margin-left: -15px !important;
    margin-right: 5px !important;
    color:white !important;
}

#export {
    margin-left: 10px;
}

#content {
    padding-top: 50px;
}

#indexNameMenu.dropdown-menu {
    left: 10px !important;
}

#indexTypeMenu.dropdown-menu {
    left: 148px !important;
}

#indexFieldMenu.dropdown-menu {
    left: 285px !important;
}